@import "tailwindcss";

body {
  font-family: 'Cinzel', serif;
}
.glow-red {
  text-shadow: 0 0 8px rgba(220, 38, 38, 0.6);
}
.watch-now{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}.font-display {
  font-family: 'Cinzel', serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}
/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
