@import "tailwindcss";
@keyframes titleReveal {
  0% {
    opacity: 0;
    transform: translateY(24px);
    letter-spacing: 0.6em;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    letter-spacing: 0.35em;
  }
}
body {
  font-family: 'Cinzel', serif;
}
.glow-red {
  text-shadow: 0 0 8px rgba(220, 38, 38, 0.6);
}
.watch-now{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}.font-display {
  font-family: 'Cinzel', serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}
/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
html,
body {
  overflow-x: hidden;
}